<div class="span4 offset4 steamy-hottube text-center">

	<h1 class="custom-font">Hi I'm LUKASS</h1>

	<h2>I am having a blast learning how to code</h2>

	<%= link_to 'START my APPPPPP', "#", :class =>'btn btn-warning btn btn-large' %>
</div>