<% @pics.each do |pic| %>
	<div class= "span4 offset4 steamy-hottube center" >
		<body>
			<h1>
				Hour:<%= pic.hour %>
				<br/>
			</h1>
			<h2>
				Emotion:<%= pic.emotion %>
				<br/>
				Learned: <%= pic.learned %>
				<br/>
			</h2>
		</body>
	</div>	
<% end %>

