/*This site was hacked together by Marco with lost of power*/
/*lukas was here */

@import url(http://fonts.googleapis.com/css?family=Audiowide);

.steamy-hottube {
	box-shadow: 2px -2px 2px 2px rgba(36,32,33,0.50);
	background-color: rgba(36,32,33,0.50);
	padding: 1%;
	margin-top: 20px;
}

body {

	background: url('pt.jpg') no-repeat center center fixed; 
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;

}

.custom-font {

	color: white;
	font-family: "Audiowide";
	font-weight: 100;
	font-size: 64px;
	line-height: 60px;
}

h2 {

	color:red;
	font-family: Helvetica;
}

label { 
	color:white;
}